.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding : 0px;
  margin: 0px;
  background-color: #000;
}


.banner {
  padding: 0px;
}


.banner h1 {
  font-family: 'Exo 2', sans-serif;
  text-align : center;
  color: transparent;
  font-size: 5em;
  padding: 0px;
  margin: 0vh;
  background: linear-gradient(260deg, #006afe, beige, #85cdff, white, green);
  background-size: 200% 200%;
  animation: text_wipe;
  -webkit-animation: text_wipe 5s ease infinite;
  -moz-animation: text_wipe 5s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}


.banner h1 .online {
  display: inline;
  font-family: 'Reggae One', sans-serif;
  font-size: 4rem;
  color: aquamarine;
}


@keyframes text_wipe {
  0%{background-position:10% 0%}
  50%{background-position:91% 110%}
  100%{background-position:10% 0%}
}

@-moz-keyframes text_wipe {
  0%{background-position:10% 0%}
  50%{background-position:91% 110%}
  100%{background-position:10% 0%}
}

@-webkit-keyframes text_wipe {
  0%{background-position:10% 0%}
  50%{background-position:91% 110%}
  100%{background-position:10% 0%}
}

.vinyl {
  margin: auto;
  margin-top: 0px;
  padding: 0px;
  cursor: pointer;
  animation: rotate 2.5s linear infinite paused;
  transform-origin: center center;
}

.vinyl img {
  max-height: 325px;
}

.vinyl.play {
  animation-play-state: running;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.content {
  width: 80%;
  margin: 0 auto;
  margin-top: 0.5vh;
  flex-grow: 1; 
}

.toptext {
  margin: auto;
  text-align: center;
  font-family: 'Changa', sans-serif;
  color: #85cdff;
  font-size: 1.4em;
  line-height: 2em;
  margin-bottom: 1vh;
}

.toptext .fa-brands, .toptext .fa-solid, .toptext .fa-ello {
  font-size: 20px;
  color: #85cdff;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.content_box {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #85cdff;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  padding : 15px;
  border: 8px double black;
  border-radius: 10px;
}

.content_box::after {
  content: "";
  clear: both;
  display: table;
}

.content_box h1 {
  font-family: 'Verdana', sans-serif;
  text-transform: bold;
  font-size: 2.75em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2; 
}

.content_box h3 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: 0em;
  font-size: 1em;
  line-height: 2;
}

.box_image {
  float: left;
  align-content: center;
  height: 200px;
  width: 200px;
  margin-top: 0px;
  padding: 10px;
  border-radius: 15px;
}

a.page:link {
  color:#000;
  text-decoration: underline;
  cursor: pointer;
}

a.page:visited {
  color:#000;
  text-decoration: underline;
  cursor: pointer;
}

a.page:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}



a.contact:link {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

a.contact:visited {
  color:white;
  cursor: pointer;
}

a.contact:hover {
  color: aquamarine;
  text-decoration: underline;
  cursor: pointer;
}



.icon {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  width: 32px;
  height: 32px;
}


.fa-brands, .fa-solid, .fa-ello, .fa-regular {
  font-size: 26px;
  /* color: black; */
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}


.fourohfour {
  width: 60%;
  margin: 0.5vh auto;
  padding: 15px;
  border: 8px double black;
  border-radius: 10px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.6rem;
  line-height: 2em;
  text-align: center;
  background-color: #85cdff;
}

.fourohfour b {
  font-family: 'Roboto Mono', monospace;
  font-size: 3rem;
}

a:link, a:visited, a:hover {
  color: inherit;
  text-decoration: inherit;
}




/* Screens between 1024px and 1439px */
@media (min-width: 1024px) and (max-width: 1439px) {
  .content_box {
    width: 100%;
  }

  .fourohfour {
    width: 100%;
  }
}



/* Screens between 640px and 1023px */
@media (min-width: 640px) and (max-width: 1023px) {
  .banner h1 {
    font-size: 4em;
}

.banner h1 .online {
  font-size: 3rem;
}

.content {
  width: 90%;
}

.content_box {
  width: 95%;
}

.content_box h1 {
  font-size: 2em;
}

.content_box h3 {
  font-size: 0.95em;
  line-height: 1.8;
}

.box_image {
  height: 230px;
  width: 230px;
}

.fourohfour {
  width: 80%;
}
}




/* Screens less than 640px */
@media (max-width: 639px) {
  .banner h1 {
    font-size: 3em;
}

.banner h1 .online {
  display: none;
}

.vinyl img {
  max-height: 200px;
}

.content {
  width: 95%;
}


.toptext {
  font-size: 1.2em;
  line-height: 1.6em;
}


.content_box {
  width: auto;
}

.box_image {
  float: none; /* Remove float */
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; /* Ensures image responsiveness */
}

.content_box h1 {
  text-align: center;
  font-size: 2rem;
}

.content_box h3 {
  font-size: 1rem;
  line-height: 2;
  padding: 0px;
  clear: both;
}


.icon-container {
  display: flex;
  justify-content: center;
}


.fourohfour {
  width: 80%;
  font-size: 1rem;
  line-height: 2em;
}

.fourohfour b {
  font-size: 2rem;
}
}