.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding : 0px;
  margin: 0px;
  background-color: #000;
}


.banner {
  padding: 0px;
}



.banner h1 {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  color: transparent;
  font-size: 3em;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(260deg, #006afe, beige, #85cdff, white, pink);
  background-size: 200% 200%;
  animation: text_wipe;
  -webkit-animation: text_wipe 5s ease infinite;
  -moz-animation: text_wipe 5s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate;

}

.banner h1 .online {
  display: none;
}

@keyframes text_wipe {
  0%{background-position:10% 0%}
  50%{background-position:91% 110%}
  100%{background-position:10% 0%}
}

@-moz-keyframes text_wipe {
  0%{background-position:10% 0%}
  50%{background-position:91% 110%}
  100%{background-position:10% 0%}
}

@-webkit-keyframes text_wipe {
  0%{background-position:10% 0%}
  50%{background-position:91% 110%}
  100%{background-position:10% 0%}
}

.vinyl {
  margin: auto;
  margin-top: 0px;
  padding: 0px;
  cursor: pointer;
  animation: rotate 2.5s linear infinite paused;
  transform-origin: center center;
}

.vinyl img {
  max-height: 225px;
}

.vinyl.play {
  animation-play-state: running;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* content body */
.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  flex-grow: 1;
}


.toptext {
  margin: auto;
  text-align: center;
  font-family: 'Changa', sans-serif;
  color: #85cdff;
  font-size: 1.2em;
  line-height: 1.4em;
  margin-bottom: 1vh;
}

.toptext .fa-brands, .toptext .fa-solid, .toptext .fa-ello {
  font-size: 14px;
  color: #85cdff;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

/* content blocks */
.content_box {
  background-color: #85cdff;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  padding : 15px;
  border: 8px double black;
  border-radius: 10px;
}


.content_box::after {
  content: "";
  clear: both;
  display: table;
}


.content_box h1 {
  font-family: Verdana;
  text-align: center;
  text-transform: bold;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.4;
}


.content_box h3 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: left;
  font-size: 1rem;
  line-height: 2;
  padding: 0px;
}


.box_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 0px;
  border-radius: 15px;
}


.icon-container {
  display: flex;
  justify-content: center;
}

.icon {
  margin: 0 10px;
  width: 32px;
  height: 32px;
}

.fa-brands, .fa-solid {
  font-size: 26px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

a.page:link {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

a.page:visited {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

a.page:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

a.contact:link {
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

a.contact:visited {
  color:white;
  cursor: pointer;
}

a.contact:hover {
  color: aquamarine;
  text-decoration: underline;
  cursor: pointer;
}


.fourohfour {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #85cdff;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  padding : 15px;
  border: 8px double black;
  border-radius: 10px;
  font-family: 'Roboto Mono', monospace;
  color: black;
  font-size: 1.2rem;
  line-height: 1.6em;
  text-align: center;
}

a:link, a:visited, a:hover {
  color: inherit;
  text-decoration: inherit;
}