/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 10px 0px;
}


.navbar .navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link:focus {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0px 1vw;
  transition: background-color 0.3s, color 0.3s;
}

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus {
  border-radius: 15px;
  background-color: white;
  color: #000;
  /* color: #004897; */
  cursor: pointer;
}

.fa-solid, .fa-brands {
  font-size: 48px;

}

@media (max-width: 768px) {
  .fa-solid, .fa-brands {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .fa-solid, .fa-brands {
    font-size: 36px;
  }
}


.rollover_row {
  font-family: 'Exo 2', sans-serif;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: clamp(3vw, 4vw, 5vw);
  margin-bottom: 2vh;
}


.left-div {
  width: 50%;
  margin-left: 5vw;
  text-align: right;
  color: #0f4c81;
}

.nav_hover {
  width: 50%;
  text-align: left;
  color: #85cdff;
}


a:link, a:visited, a:hover, a:active, a:focus {
  color: inherit;
  text-decoration: inherit;
}

@media only screen and (max-width: 768px) {
  .rollover_row {
    display: none;
  }
}